<!DOCTYPE html>
<html lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <title>Shop</title>
</head>
<body>
<section layout:fragment="content">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="shop : ${shopList}" th:object="${shop}">
        <th scope="row" th:text="*{id}"></th>
        <td th:text="*{name}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
</body>
</html>