<!DOCTYPE html>
<html lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="${role.name}"></title>
</head>
<body>
<section layout:fragment="content">
    <div>
        <ul>
            <li>
                <span>ID:</span>
                <span th:text="${role.id}"></span>
            </li>
            <li>
                <span>Name:</span>
                <span th:text="${role.name}"></span>
            </li>
            <li>
                <span>Permissions:</span>
                <span th:if="${role.permissions.empty}">(empty)</span>
                <!-- If not empty, iterate over permissions and display each name -->
                <ul th:unless="${role.permissions.empty}">
                    <li th:each="permission : ${role.permissions}">
                        <span th:text="${permission.name}"></span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
</body>
</html>