<!DOCTYPE html>
<html lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Top page</title>
</head>
<body>
<section layout:fragment="content">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Number of assigned permission</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role : ${roleList}" th:object="${role}">
                <th scope="row" th:text="*{id}"></th>
                <td><a th:href="@{/sys/roles/{id}(id=*{id})}" th:text="*{name}"></a></td>
                <td th:text="*{permissionCount}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>